:root:has(.no-doc-scroll) {
    overflow: hidden;
}

.transition-default {
    @apply transition-all duration-500 ease-in-out;
}

a {
    @apply underline cursor-pointer;
}

// button
.btn-admin-default {
    @apply bg-dark-secondary border transition-default border-white/25 hover:border-transparent hover:bg-dark;
}

p {
    @apply text-xs;
}

// react date picker
.react-datepicker-wrapper {
    @apply w-fit;
}

.react-datepicker__input-container {
    display: flex !important;
    align-items: center;
}

.react-datepicker__calendar-icon {
    @apply text-white;
}

.react-datepicker {
    // background-color: unset !important;
    @apply bg-black;
}